{% extends 'layouts/base_background.html' %}
{% load static %}

{% block title %} White Oak  {% endblock title %}
{% block body %} class="blog-author bg-gray-200" {% endblock body %}

{% block header %}

{% include 'includes/navigation_transparent.html' %}

{% endblock header %}

{% block content %}

  <!-- -------- START HEADER 4 w/ search book a ticket form ------- -->
  <header>
    <div class="page-header min-height-400" style="background-image: url('{% static 'img/city-profile.jpg' %}');" loading="lazy">
      <span class="mask bg-gradient-dark opacity-8"></span>
    </div>
  </header>
  <!-- -------- END HEADER 4 w/ search book a ticket form ------- -->
  <div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n6 mb-4">

    <!-- START Testimonials w/ user image & text & info -->
    <section class="py-sm-7 py-5 position-relative">
      <div class="container">
        <div class="row">
          <div class="col-12 mx-auto">
            <div class="mt-n8 mt-md-n9 text-center">
              <img class="avatar avatar-xxl shadow-xl position-relative z-index-2" src="{% static 'img/avatar.jpg' %}" alt="bruce" loading="lazy">
            </div>
            <div class="row py-5">
              <div class="col-lg-7 col-md-7 z-index-2 position-relative px-md-2 px-sm-5 mx-auto">
                <div class="d-flex justify-content-between align-items-center mb-2">
                  <h3 class="mb-0">{{user_name}}</h3><br>
                  <h3 class="mb-0">{{email}}</h3></br>
                  <div class="d-block">
                    <!-- <button type="button" class="btn btn-sm btn-outline-danger text-nowrap mb-0">Not Verified</button> -->
                
                    <button class="btn bg-gradient-success btn-icon" type="button">
                      <div class="d-flex align-items-center">
                        <i class="material-icons me-2" aria-hidden="true">check</i>
                        Verified
                      </div>
                    </button>
                  </div>
                </div>
              


{% if payments %}
<div class="container col-10">
<h3> Recent Transactions</h3>  

<table class="table">
  <thead>
    <tr>
      <th scope="col">Time</th>
      <th scope="col">User Name</th>
      <th scope="col">Transaction ID</th>
      <th scope="col">Amount</th>
      <th scope="col">Services Opted</th>
      <th scope="col">Comments</th>
    </tr>
  </thead>
  <tbody>
    {% for payment in payments %}
      <tr>
        <td>{{ payment.time }}</td>
        <td>{{ payment.user_name }}</td>
        <td>{{ payment.transaction_id }}</td>
        <td>{{ payment.amount }}</td>
        <td>{{ payment.Services_from_user }}</td>
        <td>{{ payment.comments }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endif %}


<!-- 
<div class="container center-align">

  <div class="heading">Custom Payment</div>

  


        

</div> -->


                <!-- <div class="row mb-4">
                  <div class="col-auto">
                    <span class="h6">323</span>
                    <span>Posts</span>
                  </div>
                  <div class="col-auto">
                    <span class="h6">3.5k</span>
                    <span>Followers</span>
                  </div>
                  <div class="col-auto">
                    <span class="h6">260</span>
                    <span>Following</span>
                  </div>
                </div> -->
                <!-- <p class="text-lg mb-0">
                  Decisions: If you can’t decide, the answer is no.
                  If two equally difficult paths, choose the one more
                  painful in the short term (pain avoidance is creating
                  an illusion of equality). Choose the path that leaves
                  you more equanimous. <br><a href="javascript:;" class="text-info icon-move-right">More about me
                    <i class="fas fa-arrow-right text-sm ms-1"></i>
                  </a>
                </p> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
<div class="container center-align" style="justify-content: center;display: flex;">

    <div class="col-lg-4 px-lg-1 mt-lg-0 mt-4">
      <div class="info-horizontal  border-radius-xl d-block d-md-flex p-4 h-100 shadow-lg">
        <i class="material-icons text-gradient text-primary text-3xl">business_center</i>
        <div class="ps-0 ps-md-3 mt-3 mt-md-0">
          <h5>Enter the amout below </h5>
          <form method="post" action="{% url 'checkout' %}">
            {% csrf_token %}
            <div class="row" style="justify-content: space-around;">
                <div class="col-4"> 
                  
                    <input type="hidden" name="service" value = "Custom Service">  
    
                    <!-- <h4 class="card-title" style="color: green;"> ₹ 7500</h4> -->
                    <input name="amt" type="text">
                </div>
                <div class="col-2">  
                    <button class="btn bg-gradient-success btn-icon" type="submit">
                        <div class="d-flex align-items-center">
                            Pay Now
                        </div>
                    </button>
                </div>
            </div>
        </form>
        </div>
      </div>
    </div>
    </div>
    <!-- END Testimonials w/ user image & text & info -->
    <!-- START Blogs w/ 4 cards w/ image & text & link -->
    <section class="py-3">
      <div class="container">
        <div class="row">
          <div class="col-lg-10">
          <h5 class="text-gradient text-success">
            {{message}}
          </h5>
          </div>
          <div class="col-lg-6">
            <h3 class="mb-5">Services you apoted for</h3>
          </div>
        </div>
        <div class="row">
          
          <div class="col-lg-3 col-sm-6">
            <div class="card card-plain">
              <!-- <div class="card-header p-0 position-relative">
                <a class="d-block blur-shadow-image">
                  <img src="{% static 'img/examples/blog-9-4.jpg' %}" alt="img-blur-shadow" class="img-fluid shadow border-radius-lg" loading="lazy">
                </a>
              </div> -->
              <div class="card-body px-0">
                <h5>
                  <a href="javascript:;" class="text-dark font-weight-bold">Looks like you haven't Opted for any service yet please explore our Plans !!</a>
                </h5>
                <p>
                  ...
                </p>
              
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-12 col-12">
            <div class="card card-blog card-background cursor-pointer">
              <div class="full-background" style="background-image:url('https://images.pexels.com/photos/590041/pexels-photo-590041.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')" loading="lazy"></div>
              <div class="card-body">
                <div class="content-left text-start my-auto py-4">
                  <h2 class="card-title text-white">Explore our Plans</h2>
                  <p class="card-description text-white">Discover the full range of our offerings beyond your expectations, explore now.</p>
                  <a href="/" class="text-white text-sm icon-move-right">Read More
                    <i class="fas fa-arrow-right text-xs ms-1"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    </section>
    <!-- END Blogs w/ 4 cards w/ image & text & link -->
  </div>
  <div class="container">
    <!-- <h1 class="text-black">Payment QR</h1> -->
  </div>
  <section class="py-lg-5">
    <!-- <div class="container">
      <div class="row">
        <div class="col">
          <div class="card box-shadow-xl overflow-hidden mb-5">
            <div class="row">
              <div class="col-lg-5 position-relative bg-cover px-0" style="background-image: url('{% static 'img/QR.jpg' %}')" loading="lazy">
              </div>
              <div class="col-lg-7">
                <form class="p-3" id="contact-form" method="post" action="/save_payment_details">
                  {% csrf_token %}
                  <div class="card-header px-4 py-sm-5 py-3">
                    <h2>Notify Us</h2>
                    <p class="lead"> Once you have done the payment please send us the required details</p>
                  </div>
                  <div class="card-body pt-1">
                    <div class="row">
                      <div class="col-md-12 pe-2 mb-3">
                        <div class="input-group input-group-static mb-4">
                          <label>Your name </label>
                          <input type="text" name="name" class="form-control" placeholder="Full Name">
                        </div>
                      </div>
                      <div class="col-md-12 pe-2 mb-3">
                        <div class="input-group input-group-static mb-4">
                          <label>Amount Paid</label>
                          <input type="text" name="amount" class="form-control" placeholder="Amount you paid">
                        </div>
                      </div>
                      <div class="col-md-12 pe-2 mb-3">
                        <div class="input-group input-group-static mb-4">
                          <label>Services I am looking for</label>
                          <input type="text" name="service" class="form-control" placeholder="name your service">
                        </div>
                      </div>
                      <div class="col-md-12 pe-2 mb-3">
                        <div class="input-group input-group-static mb-4">
                          <label>Transaction ID</label>
                          <input type="text" name="transaction_id" class="form-control" placeholder="My transaction Id is">
                        </div>
                      </div>
                      <div class="col-md-12 pe-2 mb-3">
                        <div class="input-group input-group-static mb-4">
                          <label>Comments</label>
                          <textarea name="comments" class="form-control" id="message" rows="6" placeholder="I want to say that..."></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 text-end ms-auto">
                        <button type="submit" class="btn bg-gradient-success mb-0">Send Message</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </section>
  <section class="py-lg-5">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card box-shadow-xl overflow-hidden mb-5">
            <div class="row">
              <div class="col-lg-5 position-relative bg-cover px-0" style="background-image: url('https://images.pexels.com/photos/936722/pexels-photo-936722.jpeg?auto=compress&cs=tinysrgb&w=600')" loading="lazy">
                <div class="z-index-2 text-center d-flex h-100 w-100 d-flex m-auto justify-content-center">
                  <div class="mask bg-gradient-dark opacity-8"></div>
                  <div class="p-5 ps-sm-8 position-relative text-start my-auto z-index-2">
                    <h3 class="text-white">Contact Information</h3>
                    <p class="text-white opacity-8 mb-4">Fill up the form and our Team will get back to you within 24 hours.</p>
                    <div class="d-flex p-2 text-white">
                      <div>
                        <i class="fas fa-phone text-sm"></i>
                      </div>
                      <div class="ps-3">
                        <span class="text-sm opacity-8">+91 8830785592</span>
                      </div>
                    </div>
                    <div class="d-flex p-2 text-white">
                      <div>
                        <i class="fas fa-envelope text-sm"></i>
                      </div>
                      <div class="ps-3">
                        <span class="text-sm opacity-8">whiteoakconsultant@gmail.com </span>
                      </div>
                    </div>
                    <div class="d-flex p-2 text-white">
                      <div>
                        <i class="fab fa-whatsapp text-sm"></i>
                      </div>
                      <div class="ps-3">
                        <span class="text-sm opacity-8">+91- 8830785592</span>
                      </div>
                    </div>
                    <!-- <div class="mt-4">
                      <button type="button" class="btn btn-icon-only btn-link text-white btn-lg mb-0" data-toggle="tooltip" data-placement="bottom" data-original-title="Log in with Facebook">
                        <i class="fab fa-facebook"></i>
                      </button>
                      <button type="button" class="btn btn-icon-only btn-link text-white btn-lg mb-0" data-toggle="tooltip" data-placement="bottom" data-original-title="Log in with Twitter">
                        <i class="fab fa-twitter"></i>
                      </button>
                      <button type="button" class="btn btn-icon-only btn-link text-white btn-lg mb-0" data-toggle="tooltip" data-placement="bottom" data-original-title="Log in with Dribbble">
                        <i class="fab fa-dribbble"></i>
                      </button>
                      <button type="button" class="btn btn-icon-only btn-link text-white btn-lg mb-0" data-toggle="tooltip" data-placement="bottom" data-original-title="Log in with Instagram">
                        <i class="fab fa-instagram"></i>
                      </button>
                    </div> -->
                  </div>
                </div>
              </div>
              <div class="col-lg-7">
                <form class="p-3" id="contact-form" method="post">
                  <div class="card-header px-4 py-sm-5 py-3">
                    <h2>Say Hi!</h2>
                    <p class="lead"> We'd like to talk with you.</p>
                  </div>
                  <div class="card-body pt-1">
                    <div class="row">
                      <div class="col-md-12 pe-2 mb-3">
                        <div class="input-group input-group-static mb-4">
                          <label>My name is</label>
                          <input type="text" class="form-control" placeholder="Full Name">
                        </div>
                      </div>
                      <div class="col-md-12 pe-2 mb-3">
                        <div class="input-group input-group-static mb-4">
                          <label>I'm looking for</label>
                          <input type="text" class="form-control" placeholder="name your service">
                        </div>
                      </div>
                      <div class="col-md-12 pe-2 mb-3">
                        <div class="input-group input-group-static mb-4">
                          <label>Your message</label>
                          <textarea name="message" class="form-control" id="message" rows="6" placeholder="I want to say that..."></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 text-end ms-auto">
                        <button type="submit" class="btn bg-gradient-info mb-0">Send Message</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
{% endblock content %}

