{% extends 'layouts/base_background.html' %}
{% load static %}

{% block title %} White Oak  {% endblock title %}
{% block body %} class="about-us bg-gray-200" {% endblock body %}

{% block header %}

{% include 'includes/navigation_light.html' %}

{% endblock header %}

{% block content %}



<!-- -------- START Content Presentation Docs ------- -->
<div class="container mt-sm-5">
    <div class="page-header py-6 py-md-5 my-sm-3 mb-3 border-radius-xl" style="background-image: url('https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/desktop.jpg');" loading="lazy">
      <span class="mask bg-gradient-dark"></span>
      <div class="container">
        <div class="row">
          <div class="col-lg-6 ms-lg-5">
            <!-- <h4 class="text-white">Accounting Services</h4> -->
            <h1 class="text-white">GST</h1>
            <p class="lead text-white opacity-8">We provide comprehensive GST services to help businesses comply with the constantly evolving GST regulations. Our team of GST experts is well-versed in all aspects of GST, including registration, compliance, and filing of returns. We offer customized solutions to ensure that your business meets all the necessary GST requirements, while also minimizing your tax liabilities. With our timely and accurate GST services, you can focus on growing your business while leaving the GST compliance to us.</p>
  
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="info-horizontal bg-gradient-primary border-radius-xl d-block d-md-flex p-4">
          <i class="fas fa-lightbulb text-white text-3xl"></i>
          <div class="ps-0 ps-md-3 mt-3 mt-md-0">
            <!-- <h5 class="text-white">Get Expert Advice </h5> -->
            <p class="text-white">Our Basic package is designed for those who are just starting out or have a smaller investment portfolio. With this package, you'll receive a personalized investment plan, regular portfolio monitoring, and quarterly performance reports.
            </p>
           
          </div>
        </div>
      </div>
      <div class="col-lg-4 px-lg-1 mt-lg-0 mt-4">
        <div class="info-horizontal bg-gradient-info border-radius-xl d-block d-md-flex p-4">
          <i class="fas fa-search-dollar text-white text-3xl"></i>
          <!-- <i class="material-icons text-white text-3xl">precision_manufacturing</i> -->
          <div class="ps-0 ps-md-3 mt-3 mt-md-0">
            <!-- <h5 class="text-white">Analysis of Books and verification</h5> -->
            <p class="text-white">Our Standard package is ideal for those with a larger investment portfolio or more complex financial goals. In addition to the services offered in the Basic package, you'll receive more frequent portfolio monitoring, access to our team of experienced investment professionals, and personalized investment recommendations.
            </p>
           
          </div>
        </div>
      </div>
      <div class="col-lg-4 mt-lg-0 mt-4">
        <div class="info-horizontal bg-gradient-success border-radius-xl d-block d-md-flex p-4">
          <i class="far fa-check-circle text-white text-primary text-3xl"></i>
          <!-- <i class="material-icons text-gradient text-primary text-3xl">receipt_long</i> -->
          <div class="ps-0 ps-md-3 mt-3 mt-md-0">
            <!-- <h5 class="text-white">Completion of work</h5> -->
            <p class="text-white">For our most comprehensive package, choose our Premium package. This package is perfect for high net worth individuals or those with more complex financial needs. In addition to the services offered in the Basic and Standard packages, you'll receive personalized tax planning advice, access to exclusive investment opportunities, and more frequent communication with our team.</p>
            
          </div>
        </div>
      </div>

    </div>
  </div>


   <!-- <div class="col-lg-4 ms-auto mt-lg-0 mt-4">
            <div class="card">
              <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <a class="d-block blur-shadow-image">
                  <img src="https://images.unsplash.com/photo-1544717302-de2939b7ef71?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="img-colored-shadow" class="img-fluid border-radius-lg">
                </a>
              </div>
              <div class="card-body text-center">
                <h5 class="font-weight-normal">
                  <a href="javascript:;">Online accounting and Bookkeeping Service</a>
                </h5>
                <p class="mb-0">
                  Website visitors today demand a frictionless user expericence — especially when using search. Because of the hight standards.
                </p>
                <button type="button" class="btn bg-gradient-info btn-sm mb-0 mt-3">Find out more</button>
              </div>
            </div>
          </div> -->
  <!-- -------- END Content Presentation Docs ------- -->

  <div class="container">
    <h2>GST REGISTRATION</h2>
  </div>
    
  <div class="container py-3">
    <div class="card shadow-sm">
      <div class="row no-gutters">
        <div class="col-md-5">
          <img class="card-img" src="https://st3.depositphotos.com/1277251/18854/i/1600/depositphotos_188549748-stock-photo-goods-service-tax-sign-paper.jpg" alt="">
        </div>
        <div class="col-md-7">
          <div class="card-body">
             <div class="row">
              <div class="col-10"><h4 class="card-title">GST Registration  </h4> </div>
              <div class="col-2"> <h4 class="card-title" style="color: green;">₹ 4000 </h4></div>
              </div>

            <div class="accordion mt-3" id="accordionExample">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h2 class="mb-0">
 
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Read More        <i class="material-icons  text-3xl">chevron_right</i>

                    </button>
                  </h2>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body">
                    <ul>
                      <li>Recording of entries for the completed financial year</li>
                      <li>Preparation of Ledger Accounts-Cash, Sales, Purchases, Expenses</li>
                      <li>Preparation of Receipts and Expenses Statement/Profit and Loss Account</li>
                      <li>Preparation of Balance Sheet</li>
                      <li>Bank Reconciliation Statement</li>
                      <li>Statement of balance of Account Receivables and Payables</li>
                      <li>Stock Summary</li>
                      <li>Statement showing summary of all the transactions</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <h2>GST RETURN FILING</h2>
  </div>
  <div class="container py-3">
    <div class="card shadow-sm">
      <div class="row no-gutters">
        <div class="col-md-5">
          <img class="card-img" src="https://media.istockphoto.com/id/1130669886/photo/wooden-letters-gst-and-money-coin-stack-on-red-table-background-financial-concept.jpg?s=612x612&w=0&k=20&c=m8dA4dsHFXSdohM-6EOJ5muD1OcT-eDG735S4yVzbZI=" alt="">
        </div>
        <div class="col-md-7">
          <div class="card-body">
             <div class="row">
              <div class="col-10"><h4 class="card-title">GST Filings under Composition Scheme  </h4> </div>
              <div class="col-2"> <h4 class="card-title" style="color: green;">₹ 5000 </h4></div>
              </div>

            <div class="accordion mt-3" id="accordionExample">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapsetwo" aria-expanded="true" aria-controls="collapseOne">
                      Read More   <i class="material-icons  text-3xl">chevron_right</i>
                    </button>
                  </h2>
                </div>
                <div id="collapsetwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body">
                    <ul>
                      <li>Recording of entries for the completed financial year</li>
                      <li>Preparation of Ledger Accounts-Cash, Sales, Purchases, Expenses</li>
                      <li>Preparation of Receipts and Expenses Statement/Profit and Loss Account</li>
                      <li>Preparation of Balance Sheet</li>
                      <li>Bank Reconciliation Statement</li>
                      <li>Statement of balance of Account Receivables and Payables</li>
                      <li>Stock Summary</li>
                      <li>Statement showing summary of all the transactions</li>
                    </ul>  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container py-3">
    <div class="card shadow-sm">
      <div class="row no-gutters">
        <div class="col-md-5">
          <img class="card-img" src="https://media.istockphoto.com/id/1130669886/photo/wooden-letters-gst-and-money-coin-stack-on-red-table-background-financial-concept.jpg?s=612x612&w=0&k=20&c=m8dA4dsHFXSdohM-6EOJ5muD1OcT-eDG735S4yVzbZI=" alt="">
        </div>
        <div class="col-md-7">
          <div class="card-body">
             <div class="row">
              <div class="col-10"><h4 class="card-title">GST Filings under Composition Scheme </h4> </div>
              <div class="col-2"> <h4 class="card-title" style="color: green;">₹ 5000 </h4></div>
              </div>

            <div class="accordion mt-3" id="accordionExample">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapsetwo" aria-expanded="true" aria-controls="collapseOne">
                      Read More   <i class="material-icons  text-3xl">chevron_right</i>
                    </button>
                  </h2>
                </div>
                <div id="collapsetwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body">
                    <ul>
                      <li>Recording of entries for the completed financial year</li>
                      <li>Preparation of Ledger Accounts-Cash, Sales, Purchases, Expenses</li>
                      <li>Preparation of Receipts and Expenses Statement/Profit and Loss Account</li>
                      <li>Preparation of Balance Sheet</li>
                      <li>Bank Reconciliation Statement</li>
                      <li>Statement of balance of Account Receivables and Payables</li>
                      <li>Stock Summary</li>
                      <li>Statement showing summary of all the transactions</li>
                    </ul>  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container py-3">
    <div class="card shadow-sm">
      <div class="row no-gutters">
        <div class="col-md-5">
          <img class="card-img" src="https://media.istockphoto.com/id/1130669886/photo/wooden-letters-gst-and-money-coin-stack-on-red-table-background-financial-concept.jpg?s=612x612&w=0&k=20&c=m8dA4dsHFXSdohM-6EOJ5muD1OcT-eDG735S4yVzbZI=" alt="">
        </div>
        <div class="col-md-7">
          <div class="card-body">
             <div class="row">
              <div class="col-8"><h4 class="card-title">GST Monthly Return Filing </h4> </div>
              <div class="col-4"> <h4 class="card-title" style="color: green;">₹ 3000/month </h4></div>
              </div>
            <div class="accordion mt-3" id="accordionExample">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapsetwo" aria-expanded="true" aria-controls="collapseOne">
                      Read More   <i class="material-icons  text-3xl">chevron_right</i>
                    </button>
                  </h2>
                </div>
                <div id="collapsetwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body">
                    <ul>
                      <li>Recording of entries for the completed financial year</li>
                      <li>Preparation of Ledger Accounts-Cash, Sales, Purchases, Expenses</li>
                      <li>Preparation of Receipts and Expenses Statement/Profit and Loss Account</li>
                      <li>Preparation of Balance Sheet</li>
                      <li>Bank Reconciliation Statement</li>
                      <li>Statement of balance of Account Receivables and Payables</li>
                      <li>Stock Summary</li>
                      <li>Statement showing summary of all the transactions</li>
                    </ul>  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container py-3">
    <div class="card shadow-sm">
      <div class="row no-gutters">
        <div class="col-md-5">
          <img class="card-img" src="https://media.istockphoto.com/id/1130669886/photo/wooden-letters-gst-and-money-coin-stack-on-red-table-background-financial-concept.jpg?s=612x612&w=0&k=20&c=m8dA4dsHFXSdohM-6EOJ5muD1OcT-eDG735S4yVzbZI=" alt="">
        </div>
        <div class="col-md-7">
          <div class="card-body">
             <div class="row">
              <div class="col-8"><h4 class="card-title">GST Quarterly Filing under QRMP    </h4> </div>
              <div class="col-4"> <h4 class="card-title" style="color: green;">₹ 3000/quarter    </h4></div>
              </div>

            <div class="accordion mt-3" id="accordionExample">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapsetwo" aria-expanded="true" aria-controls="collapseOne">
                      Read More   <i class="material-icons  text-3xl">chevron_right</i>
                    </button>
                  </h2>
                </div>
                <div id="collapsetwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body">
                    <ul>
                      <li>Recording of entries for the completed financial year</li>
                      <li>Preparation of Ledger Accounts-Cash, Sales, Purchases, Expenses</li>
                      <li>Preparation of Receipts and Expenses Statement/Profit and Loss Account</li>
                      <li>Preparation of Balance Sheet</li>
                      <li>Bank Reconciliation Statement</li>
                      <li>Statement of balance of Account Receivables and Payables</li>
                      <li>Stock Summary</li>
                      <li>Statement showing summary of all the transactions</li>
                    </ul>  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container py-3">
    <div class="card shadow-sm">
      <div class="row no-gutters">
        <div class="col-md-5">
          <img class="card-img" src="https://media.istockphoto.com/id/1130669886/photo/wooden-letters-gst-and-money-coin-stack-on-red-table-background-financial-concept.jpg?s=612x612&w=0&k=20&c=m8dA4dsHFXSdohM-6EOJ5muD1OcT-eDG735S4yVzbZI=" alt="">
        </div>
        <div class="col-md-7">
          <div class="card-body">
             <div class="row">
              <div class="col-10"><h4 class="card-title">Limited Liability Partnership </h4> </div>
              <div class="col-2"> <h4 class="card-title" style="color: green;">₹ 15000 </h4></div>
              </div>

            <h4 class="card-title">GST Annual Return Filing  7500   </h4>
            <p class="card-text">For turnover more than 5 lakhs </p>
            <div class="accordion mt-3" id="accordionExample">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapsetwo" aria-expanded="true" aria-controls="collapseOne">
                      Read More   <i class="material-icons  text-3xl">chevron_right</i>
                    </button>
                  </h2>
                </div>
                <div id="collapsetwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body">
                    <ul>
                      <li>Recording of entries for the completed financial year</li>
                      <li>Preparation of Ledger Accounts-Cash, Sales, Purchases, Expenses</li>
                      <li>Preparation of Receipts and Expenses Statement/Profit and Loss Account</li>
                      <li>Preparation of Balance Sheet</li>
                      <li>Bank Reconciliation Statement</li>
                      <li>Statement of balance of Account Receivables and Payables</li>
                      <li>Stock Summary</li>
                      <li>Statement showing summary of all the transactions</li>
                    </ul>  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- Bootstrap JavaScript and jQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  

   
   <br>
  <br>
   
  
  


  {% endblock content %}
