{% extends 'layouts/base_background.html' %}
{% load static %}

{% block title %} White Oak  {% endblock title %}
{% block body %} class="about-us bg-gray-200" {% endblock body %}

{% block header %}

{% include 'includes/navigation_light.html' %}

{% endblock header %}

{% block content %}



<!-- -------- START Content Presentation Docs ------- -->
<div class="container mt-sm-5">
    <div class="page-header py-6 py-md-5 my-sm-3 mb-3 border-radius-xl" style="background-image: url('https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/desktop.jpg');" loading="lazy">
      <span class="mask bg-gradient-dark"></span>
      <div class="container">
        <div class="row">
          <div class="col-lg-6 ms-lg-5">
            <!-- <h4 class="text-white">Accounting Services</h4> -->
            <h1 class="text-white">Income Tax</h1>
            <p class="lead text-white opacity-8">We offer comprehensive income tax services to individuals and businesses of all sizes. Our team of experienced tax professionals are dedicated to ensuring that you meet all of your tax obligations while maximizing your financial benefits. We provide personalized solutions tailored to meet your specific needs, including tax planning, preparation, and filing. Let us help you navigate the complexities of the tax system and optimize your financial well-being.</p>
  
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="info-horizontal bg-gradient-primary border-radius-xl d-block d-md-flex p-4">
          <i class="fas fa-lightbulb text-white text-3xl"></i>
          <div class="ps-0 ps-md-3 mt-3 mt-md-0">
            <h5 class="text-white">Get Expert Advice </h5>
            <p class="text-white">You can get expert advice on e-commerce accounting services by sending us copy of books.</p>
           
          </div>
        </div>
      </div>
      <div class="col-lg-4 px-lg-1 mt-lg-0 mt-4">
        <div class="info-horizontal bg-gradient-info border-radius-xl d-block d-md-flex p-4">
          <i class="fas fa-search-dollar text-white text-3xl"></i>
          <!-- <i class="material-icons text-white text-3xl">precision_manufacturing</i> -->
          <div class="ps-0 ps-md-3 mt-3 mt-md-0">
            <h5 class="text-white">Analysis of Books and verification</h5>
            <p class="text-white">Once you submit the copy of books,
              our experts will analyse and will send
              you the final entries for verification.</p>
           
          </div>
        </div>
      </div>
      <div class="col-lg-4 mt-lg-0 mt-4">
        <div class="info-horizontal bg-gradient-success border-radius-xl d-block d-md-flex p-4">
          <i class="far fa-check-circle text-white text-primary text-3xl"></i>
          <!-- <i class="material-icons text-gradient text-primary text-3xl">receipt_long</i> -->
          <div class="ps-0 ps-md-3 mt-3 mt-md-0">
            <h5 class="text-white">Completion of work</h5>
            <p class="text-white"> Once the Balance Sheet is prepared, the books of accounts will be
              finalized & sent to you.</p>
            
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="container mt-2">
    <div class="row">

    <div class="col-lg-4 mt-lg-0 mt-4">
      <div class="info-horizontal bg-gradient-warning border-radius-xl d-block d-md-flex p-4">
        <!-- <i class="material-icons text-gradient text-primary text-3xl">receipt_long</i> -->
        <i class="fas fa-file-alt text-white text-primary text-3xl"></i>
        <div class="ps-0 ps-md-3 mt-3 mt-md-0">
          <h5 class="text-white">Preparation and finalization of Balance Sheet</h5>
          <p class="text-white"> We will prepare Balance Sheet once final entries are approved.</p>
          
        </div>
      </div>
    </div>
    </div>
    
  </div>

  
   <!-- <div class="col-lg-4 ms-auto mt-lg-0 mt-4">
            <div class="card">
              <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <a class="d-block blur-shadow-image">
                  <img src="https://images.unsplash.com/photo-1544717302-de2939b7ef71?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="img-colored-shadow" class="img-fluid border-radius-lg">
                </a>
              </div>
              <div class="card-body text-center">
                <h5 class="font-weight-normal">
                  <a href="javascript:;">Online accounting and Bookkeeping Service</a>
                </h5>
                <p class="mb-0">
                  Website visitors today demand a frictionless user expericence — especially when using search. Because of the hight standards.
                </p>
                <button type="button" class="btn bg-gradient-info btn-sm mb-0 mt-3">Find out more</button>
              </div>
            </div>
          </div> -->
  <!-- -------- END Content Presentation Docs -------->



    
  <div class="container py-3">
    <div class="card shadow-sm">
      <div class="row no-gutters">
        <div class="col-md-5">
          <img class="card-img" src="https://images.pexels.com/photos/6863332/pexels-photo-6863332.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">

        </div>
        <div class="col-md-7">
          <div class="card-body">
            <div class="row">
            <div class="col-10"><h4 class="card-title">Income Tax Return For Individuals </h4> </div>
            <div class="col-2"> <h4 class="card-title" style="color: green;">₹4000 </h4></div>
            </div>
            <p class="card-text">For turnover uptp than 5 lakhs</p>
            <div class="accordion mt-3" id="accordionExample">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h2 class="mb-0">
 
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Read More        <i class="material-icons  text-3xl">chevron_right</i>

                    </button>
                  </h2>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body">
                    <ul>
                      <li>Document Required yet to be updated</li>
                     
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container py-3">
    <div class="card shadow-sm">
      <div class="row no-gutters">
        <div class="col-md-5">
          <img class="card-img" src="https://images.pexels.com/photos/6863332/pexels-photo-6863332.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
        </div>
        <div class="col-md-7">
          <div class="card-body">
            <div class="card-body">
              <div class="row">
              <div class="col-10"><h4 class="card-title">Income Tax Return For Partnership Firm</h4> </div>
              <div class="col-2"> <h4 class="card-title" style="color: green;">₹6000 </h4></div>
              </div>
            <p class="card-text">For turnover more than 5 lakhs </p>
            <div class="accordion mt-3" id="accordionExample">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h2 class="mb-0">
 
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Read More        <i class="material-icons  text-3xl">chevron_right</i>

                    </button>
                  </h2>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body">
                    <ul>
                      <li>Document Required yet to be updated</li>
                     
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div> 
        </div>
      </div> 
    </div>
  </div>
  </div>
  <div class="container py-3">
    <div class="card shadow-sm">
      <div class="row no-gutters">
        <div class="col-md-5">
          <img class="card-img" src="https://images.pexels.com/photos/6863332/pexels-photo-6863332.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
        </div>
        <div class="col-md-7">
          <div class="card-body">
            <div class="card-body">
              <div class="row">
              <div class="col-10"><h4 class="card-title">Income Tax Return For Partnership Firm</h4> </div>
              <div class="col-2"> <h4 class="card-title" style="color: green;">₹6000 </h4></div>
              </div>
            <p class="card-text">For turnover more than 5 lakhs </p>
            <div class="accordion mt-3" id="accordionExample">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h2 class="mb-0">
 
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Read More        <i class="material-icons  text-3xl">chevron_right</i>

                    </button>
                  </h2>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body">
                    <ul>
                      <li>Document Required yet to be updated</li>
                     
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div> 
        </div>
      </div> 
    </div>
  </div>
  </div>
  <div class="container py-3">
    <div class="card shadow-sm">
      <div class="row no-gutters">
        <div class="col-md-5">
          <img class="card-img" src="https://images.pexels.com/photos/6863332/pexels-photo-6863332.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
        </div>
        <div class="col-md-7">
          <div class="card-body">
            <div class="card-body">
              <div class="row">
              <div class="col-10"><h4 class="card-title">Income Tax Returns for Expatriates </h4> </div>
              <div class="col-2"> <h4 class="card-title" style="color: green;">₹ 7500 </h4></div>
              </div>
            <p class="card-text">For turnover more than 5 lakhs </p>
            <div class="accordion mt-3" id="accordionExample">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h2 class="mb-0">
 
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Read More        <i class="material-icons  text-3xl">chevron_right</i>

                    </button>
                  </h2>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body">
                    <ul>
                      <li>Document Required yet to be updated</li>
                     
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div> 
        </div>
      </div> 
    </div>
  </div>
  </div>
  <div class="container py-3">
    <div class="card shadow-sm">
      <div class="row no-gutters">
        <div class="col-md-5">
          <img class="card-img" src="https://images.pexels.com/photos/6863332/pexels-photo-6863332.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
        </div>
        <div class="col-md-7">
          <div class="card-body">
            <div class="card-body">
              <div class="row">
              <div class="col-10"><h4 class="card-title">LLP </h4> </div>
              <div class="col-2"> <h4 class="card-title" style="color: green;">₹7500 </h4></div>
              </div>
            <p class="card-text">For turnover more than 5 lakhs </p>
            <div class="accordion mt-3" id="accordionExample">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h2 class="mb-0">
 
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Read More        <i class="material-icons  text-3xl">chevron_right</i>

                    </button>
                  </h2>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body">
                    <ul>
                      <li>Document Required yet to be updated</li>
                     
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div> 
        </div>
      </div> 
    </div>
  </div>
  </div>
  <div class="container py-3">
    <div class="card shadow-sm">
      <div class="row no-gutters">
        <div class="col-md-5">
          <img class="card-img" src="https://images.pexels.com/photos/6863332/pexels-photo-6863332.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
        </div>
        <div class="col-md-7">
          <div class="card-body">
            <div class="card-body">
              <div class="row">
              <div class="col-10"><h4 class="card-title">Private Limited </h4> </div>
              <div class="col-2"> <h4 class="card-title" style="color: green;">₹15000 </h4></div>
              </div>
            <p class="card-text">For turnover more than 5 lakhs </p>
            <div class="accordion mt-3" id="accordionExample">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h2 class="mb-0">
 
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Read More        <i class="material-icons  text-3xl">chevron_right</i>

                    </button>
                  </h2>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body">
                    <ul>
                      <li>Document Required yet to be updated</li>
                     
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div> 
        </div>
      </div> 
    </div>
  </div>
  </div>
  <div class="container py-3">
    <div class="card shadow-sm">
      <div class="row no-gutters">
        <div class="col-md-5">
          <img class="card-img" src="https://images.pexels.com/photos/6863332/pexels-photo-6863332.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
        </div>
        <div class="col-md-7">
          <div class="card-body">
            <div class="card-body">
              <div class="row">
              <div class="col-10"><h4 class="card-title">Partnership Firms </h4> </div>
              <div class="col-2"> <h4 class="card-title" style="color: green;">₹5000 </h4></div>
              </div>
            <p class="card-text">For turnover more than 5 lakhs </p>
            <div class="accordion mt-3" id="accordionExample">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h2 class="mb-0">
 
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Read More        <i class="material-icons  text-3xl">chevron_right</i>

                    </button>
                  </h2>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body">
                    <ul>
                      <li>Document Required yet to be updated</li>
                     
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div> 
        </div>
      </div> 
    </div>
  </div>
  </div>
  <div class="container py-3">
    <div class="card shadow-sm">
      <div class="row no-gutters">
        <div class="col-md-5">
          <img class="card-img" src="https://images.pexels.com/photos/6863332/pexels-photo-6863332.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
        </div>
        <div class="col-md-7">
          <div class="card-body">
            <div class="card-body">
              <div class="row">
              <div class="col-10"><h4 class="card-title">Hindu Undivided Family </h4> </div>
              <div class="col-2"> <h4 class="card-title" style="color: green;">₹ 4000 </h4></div>
              </div>
            <p class="card-text">For turnover more than 5 lakhs </p>
            <div class="accordion mt-3" id="accordionExample">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h2 class="mb-0">
 
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Read More        <i class="material-icons  text-3xl">chevron_right</i>

                    </button>
                  </h2>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body">
                    <ul>
                      <li>Document Required yet to be updated</li>
                     
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div> 
        </div>
      </div> 
    </div>
  </div>
  </div>
  <div class="container py-3">
    <div class="card shadow-sm">
      <div class="row no-gutters">
        <div class="col-md-5">
          <img class="card-img" src="https://images.pexels.com/photos/6863332/pexels-photo-6863332.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
        </div>
        <div class="col-md-7">
          <div class="card-body">
            <div class="card-body">
              <div class="row">
              <div class="col-10"><h4 class="card-title">Trusts</h4> </div>
              <div class="col-2"> <h4 class="card-title" style="color: green;">₹ 10000 </h4></div>
              </div>
            <p class="card-text">For turnover more than 5 lakhs </p>
            <div class="accordion mt-3" id="accordionExample">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h2 class="mb-0">
 
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Read More        <i class="material-icons  text-3xl">chevron_right</i>

                    </button>
                  </h2>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body">
                    <ul>
                      <li>Document Required yet to be updated</li>
                     
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div> 
        </div>
      </div> 
    </div>
  </div>
  </div>
  <div class="container"  >
    <h2>TAX ADVISORY SERVICES  </h2>
  </div>
  <div class="container py-3">
    <div class="card shadow-sm">
      <div class="row no-gutters">
        <div class="col-md-5">
          <img class="card-img" src="https://images.pexels.com/photos/6863332/pexels-photo-6863332.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
        </div>
        <div class="col-md-7">
          <div class="card-body">
            <div class="card-body">
              <div class="row">
              <div class="col-10"><h4 class="card-title">Tax Planning and Advisory Services (Annual) </h4> </div>
            </div>
              <div class="row">
              <!-- <div class="col-10"><h4 class="card-title">Tax Planning and Advisory Services (Annual) </h4> </div> -->
              <!-- <div class="col-2"> <h4 class="card-title" style="color: green;">₹ 7500 </h4></div> -->
              <form method="post" action="{% url 'checkout' %}">
                {% csrf_token %}
                <div class="row">
                  <div class="col-6"> 
                 <input type="hidden" name="service" value = "Tax Planning and Advisory Services (Annual)">  
  
                    <h4 class="card-title" style="color: green;"> ₹ 7500</h4>
                    <input type="hidden" name="amt" value="7500">
                  </div>
                  <div class="col-2">  
                    <button class="btn bg-gradient-success btn-icon" type="submit">
                      <div class="d-flex align-items-center">
                        Buy Now
                      </div>
                    </button>
                  </div>
                </div>
              </form>
            </div>
            <p class="card-text">For turnover more than 5 lakhs </p>
            <div class="accordion mt-3" id="accordionExample">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h2 class="mb-0">
 
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Read More        <i class="material-icons  text-3xl">chevron_right</i>

                    </button>
                  </h2>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body">
                    <ul>
                      <li>Document Required yet to be updated</li>
                     
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div> 
        </div>
      </div> 
    </div>
  </div>
  </div>
<!-- Bootstrap JavaScript and jQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  

   
   <br>
  <br>
   
  
  


  {% endblock content %}
